.transparente {
    background: transparent!important;
    color: #fff;
}

.navbar-brand{
    font-size: 24px;
    font-family: 'Poppins', 'Lucida Sans', sans-serif;
}

.navbar {
    justify-content: flex-start;
}

.nav-link {
    color: #000;
    font-size: 22px;
    font-family: 'Poppins', 'Lucida Sans', sans-serif;
}

.navbar-light .navbar-nav .nav-link{
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link.active{
    color: #fff;
    background: #000;
    border-radius: 5px;
}

.navbar-toggler {
    font-size: 22px;
    border: 0;
    border-radius: 10%;
}

.btn-close {
    font-size: 22px;
}
